@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// CORES

$egyptian-blue: #1034a6;
$blue-black: #040720;

$azul-neco: #0033A1;
$azul2-neco: #3A8DDE;
$cinza: #71706F;
$branco: #fff;

body{
    background-color:$blue-black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}
.container{
    height: 100vh;
}
.conteudo{
    height: 75%;
}
.conteudo #logo{
    width: 50%;
}
.conteudo h1{
    text-align: center;
    font-weight: 400;
    font-size: 22px;
}
#icone{
    width: 5%;
    padding-top: 50px;
}
.footer a{
    color: $branco;
    text-decoration: none;
    transition: 300ms;
}
.footer a:hover{
    color: $branco;
    opacity: 0.75;
}


// body{
//     background-color: $azul-neco;
//     color: white;
//     font-family: 'Titillium Web', 'Space Grotesk', sans-serif;
// }
// .container{
//     height: 100vh;
// }
// .conteudo{
//     height: 75%;
// }
// .conteudo #logo{
//     width: 50%;
// }
// .conteudo h1{
//     text-align: center;
//     font-weight: 400;
//     font-size: 22px;
// }
// .titulo-home{
//     font-size: 2rem;
//     font-weight: 600;
// }
// .red{
//     background-color: red;
//     transform: rotate(45d);
// }
// .subtitulo-home{
//     font-size: 1.2rem;
//     font-weight: normal;
// }
// .footer a{
//     color: #0033A1;
//     text-decoration: none;
//     transition: 300ms;
// }
// .footer a:hover{
//     color: #3A8DDE;
// }